
.wrapper{
    max-width: 90vw;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
button{
    margin: auto;
    width: 60vw;
    margin-top: 3vh;
    height: 5vh;
}
p{
    font-size: 3vh;
}
h1{
    margin: auto;
    font-size: 6vh;
}