
.wrapper{
    max-width: 90vw;
}
div{
    top: 50%;
    left: 50%;
}
body{
    
    justify-content: center;
    align-items: center;
    height: 70vh;
}
button{
    margin: auto;
    width: 60vw;
    margin-top: 3vh;
    height: 5vh;
}
p{
    font-size: 3vh;
}
h1{
    margin: auto;
    font-size: 6vh;
}

/*Button*/

#gioca{
    
}

.ourButton{
    margin-top: 3vh;
    min-width: 60vw;
    text-align: center;
    font-size: 5vh;
    padding: 10px;

    color: white;
    border-radius: 100px 100px 100px 100px;
    border: 7px solid white;
    font-family: "Lucida Console", "Courier New", monospace;
}

  body {
    font-family: 'Press Start 2p';
  }
 
  /*--*/